.user{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    background-color: rgb(156, 183, 235);
    border-radius: 20px;
}
.user:hover{
        transform: scale(1.1);  
}

.btn{
    width: 130px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(222, 241, 211);
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(207, 239, 241);
}